
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* chừa chỗ cho header fixed */
body {
  padding-top: 56px;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: #000;
  z-index: 9999;
}


.header-inner {
  max-width: 1800px;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
  justify-items: center;
  display: flex;
  align-items: center;
}


.header-left {
  flex: 1;
}

.logo {
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
    white-space: nowrap; 
  cursor: pointer;
}


.header-center {
  flex: 6;
  display: flex;
  justify-content: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 26px;

  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.nav-item {
  margin-top: 10px;
  position: relative;
  height: 56px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.2s ease;
}

.nav-item:hover {
  color: #e6b8b8;
}


.mega-dropdown::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 16px;
}

.mega-menu {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100vw;

  background: #f7f7f7;
  border-top: 1px solid #e5e5e5;

  opacity: 0;
  visibility: hidden;
  transform: translateY(12px);
  transition: all 0.25s ease;

  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
  z-index: 9998;
}

.mega-dropdown:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.mega-inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 32px 40px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.mega-column h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 14px;
  color: #111;
  text-transform: uppercase;
}

.mega-item {
  font-size: 13px;
  padding: 6px 0;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease;
}

.mega-item:hover {
  color: #c0392b;
}


.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}


.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon-btn img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  filter: invert(1);
}
/* .mega-banner {
  width: 100%;
  max-width: 420px;      
  height:360px;         
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
} */

/* ảnh luôn lấp đầy khung */
.mega-banner img {
  width: 100%;
  height: 200px;

  object-fit: cover ;     /* QUAN TRỌNG */
  object-position: center;
}

.mega-content {
  column-count: 2;          /* số cột */
  column-gap: 30px;         /* khoảng cách giữa 2 cột */
}

.mega-column {
  break-inside: avoid;      /* không bị gãy cột */
}

.mega-column h4 {
  margin-top: 0;
}

.mega-item {
  break-inside: avoid;
}
.mega-banner img {
  transform: translateX(110px);
}