
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  z-index: 9999; /* cao để không bị banner đè */
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.9),
    rgba(0,0,0,0.35),
    rgba(0,0,0,0)
  );

  overflow: visible; 
}

/* INNER */
.header-inner {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;

  overflow: visible; 
}

.header-left {
  flex: 1;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  white-space: nowrap;
  cursor: pointer;
}


.header-center {
  flex: 6;
  display: flex;
  justify-content: center;

  overflow: visible;
}

.nav-menu {
  display: flex;
  flex-wrap: nowrap;       
  white-space: nowrap;     
  gap: 22px;
  list-style: none;

  font-size: 12px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #fff;
}

/* MENU ITEM */
.nav-item {
  position: relative;
  cursor: pointer;
  padding: 18px 0;
  transition: color 0.2s ease;
}

.nav-item:hover {
  color: #eacece;
}

/* MŨI TÊN */
.arrow {
  display: inline-block;
  margin-left: 4px;
  font-size: 9px;
}

.nav-item .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;

  min-width: 190px;
  padding: 10px 0;
  list-style: none;

  background: #a09d9d;
 

  display: none;
  z-index: 10000; 
}

.dropdown-menu li {
  padding: 10px 22px;
  font-size: 13px;
  color: hsl(0, 0%, 100%);
  text-transform: none;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #d2cdcd;
}

/* hover xổ dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
}


.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* ICON BUTTON */
.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  margin-left: 22px;
}

.icon-btn img {
  width: 20px;
  height: 20px;
  filter: invert(1); /* icon trắng */
}

.site-header,
.header-inner,
.header-center,
.nav-menu {
  overflow: visible;
}
