@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap");

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

.carousel-item img {
  height: 520px;
  object-fit: cover;
  object-position: center top;
}

.carousel-caption {
  bottom: 30%;
}

.carousel-caption h2 {
  font-size: 48px;
  font-weight: 700;
}
